html {
  font-size: 1rem;
  height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#bbcodes {
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
}
#bbcodes .bb_codes_editor {
  position: relative;
  width: 100%;
}
#bbcodes .bb_codes_editor .text_form {
  display: block;
  margin: 0.5rem;
  border-radius: 0.125rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
#bbcodes .bb_codes_editor .text_form textarea {
  display: block;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  font-family: 'roboto mono';
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: white;
  resize: vertical;
}
#bbcodes .bb_codes_editor .bb_panel {
  display: block;
  margin: auto;
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;
  background-color: #ededed;
  overflow: hidden;
}
#bbcodes .bb_codes_editor .bb_panel .btn {
  display: inline-block;
  margin: 0 -0.125rem -0.25rem;
  padding: 12px;
  cursor: pointer;
}
#bbcodes .bb_codes_editor .bb_panel .btn:active {
  opacity: 0.5;
}
#bbcodes .bb_codes_editor .bb_panel .btn:hover {
  background-color: rgba(129, 129, 129, 0.1);
}
#bbcodes .bb_codes_editor .bb_panel span img {
  display: block;
  width: 24px;
  height: 24px;
}
#bbcodes .bb_codes_editor .convert_btn {
  display: block;
  padding: 8px;
}
#bbcodes .bb_codes_editor .convert_btn button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  border-radius: 2px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.25);
  cursor: pointer;
}
#bbcodes .bb_codes_editor .convert_btn button:active {
  opacity: 0.5;
}
#bbcodes .bb_codes_editor .convert_btn button:hover {
  background-color: #c8c8c8;
}
#bbcodes #color {
  z-index: 997;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
#bbcodes #color .dialog {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  border-radius: 2px;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}
#bbcodes #color .dialog .title {
  margin: 20px 20px 10px;
  font-size: 18px;
  font-weight: bold;
}
#bbcodes #color .dialog .content {
  margin: 10px 20px;
  overflow: hidden;
}
#bbcodes #color .dialog .content .row {
  display: table-row;
}
#bbcodes #color .dialog .content .cell {
  display: table-cell;
  padding: 16px 8px;
  vertical-align: middle;
  text-align: center;
}
#bbcodes #color .dialog .content textarea {
  width: 99%;
  white-space: nowrap;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  outline: none;
}
#bbcodes #color .dialog .content textarea:focus {
  border-bottom: 2px solid #208ECE;
}
#bbcodes #color .dialog .buttons {
  margin: 10px;
  text-align: right;
}
#bbcodes #color .dialog .buttons BUTTON {
  padding: 10px 20px;
  font-size: 16px;
  color: #208ECE;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
#bbcodes #prompt {
  z-index: 997;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
#bbcodes #prompt .dialog {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  border-radius: 2px;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}
#bbcodes #prompt .dialog .title {
  margin: 20px 20px 10px;
  font-size: 18px;
  font-weight: bold;
}
#bbcodes #prompt .dialog .content {
  margin: 10px 20px;
  overflow: hidden;
}
#bbcodes #prompt .dialog .content .row {
  display: table-row;
}
#bbcodes #prompt .dialog .content .cell {
  display: table-cell;
  padding: 16px 8px;
  vertical-align: middle;
  text-align: center;
}
#bbcodes #prompt .dialog .content textarea {
  width: 99%;
  white-space: nowrap;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  outline: none;
}
#bbcodes #prompt .dialog .content textarea:focus {
  border-bottom: 2px solid #208ECE;
}
#bbcodes #prompt .dialog .buttons {
  margin: 10px;
  text-align: right;
}
#bbcodes #prompt .dialog .buttons BUTTON {
  padding: 10px 20px;
  font-size: 16px;
  color: #208ECE;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
